<ion-header>
  <ion-toolbar>
    <ion-title>
      To-Do List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input [(ngModel)]="newItem" placeholder="New item"></ion-input>
    <ion-button (click)="addItem()">Add</ion-button>
  </ion-item>
<ion-datetime class="date" display-format="HH:mm" [(ngModel)]="newTime"></ion-datetime>
  <ion-list>
    <ion-item-sliding *ngFor="let item of items">
      <ion-item>
        {{item.name}} - {{item.time}}
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="deleteItem(item)">Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
