.date{
    display: flex;
    justify-content: center;
    background: rgb(3, 47, 92);
    background: linear-gradient(0deg, rgba(3,56,110,1) 0%, rgb(86, 33, 245) 100%);
    color: white;
    margin: 1rem;
    border-radius: 10px;
}