<ion-header>
  <ion-toolbar>
    <ion-title>
      Muhammet Yayla
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-card>
    <img alt="DT Logo" src="assets/myhomelogo.jpg" />
    <ion-card-header>
      <ion-card-title>Introduction</ion-card-title>
      <ion-card-subtitle>Muhammet Yayla Blog</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Hello, I'm 19 years old and living in Turkey.
     I'm a student of computer programming in Istanbul. I'm interested in Front-end web development.
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-title>My Web Projects</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item href="https://muhammedyayla.github.io/Psychology-Blog-Site/" style="text-decoration: none;">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="assets/ds-logo.png" />
          </ion-thumbnail>
          <ion-label>Duhan Therapy</ion-label>
        </ion-item>
  
        <ion-item href="https://muhammedyayla.github.io/OTP-Code-Verification/">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="assets/shield-check-icon.png" />
          </ion-thumbnail>
          <ion-label>Code Verification</ion-label>
        </ion-item>
  
        <ion-item href="https://muhammedyayla.github.io/PawLoginPage/">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="assets/dog-icon.png" />
          </ion-thumbnail>
          <ion-label>Paw login page</ion-label>
        </ion-item>
  
        <ion-item href="https://muhammedyayla.github.io/MuhammetYaylaBlog/" lines="none">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="assets/my.png" />
          </ion-thumbnail>
          <ion-label>Muhammet Yayla Blog</ion-label>
        </ion-item>

        <ion-item href="https://muhammedyayla.github.io/Javascript-Api-Projects/Weather%20App/weatherapp.html" lines="none">
          <ion-thumbnail slot="start">
            <ion-icon style="font-size: 3.5rem; color: #f0db4f; background-color: #323330;" name="logo-javascript"></ion-icon>
          </ion-thumbnail>
          <ion-label>JS API Projects</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
